[Unit]
Description=Heat my towel
After=network.target

[Service]
Type=forking
Restart=on-failure
RestartSec=5s
ExecStart=/usr/lib/cgi-bin/heat/daemon

[Install]
WantedBy=multi-user.target